# Lock this version of dealer because later versions have a problem - middleware is of wrong style to use with MIDDLEWARE_CLASSES
dealer==2.0.5
Django<1.12
libcoveoc4ids
-e git+https://github.com/jpmckinney/lib-cove-web.git@sentry-sdk#egg=libcoveweb
