{# Template sourced from open-contracting/cove-ocds #}
{% load i18n %}
{% load cove_tags %}

<table class="table">
    <thead>
      <tr>
        <th>{% trans 'Check Description' %}</th>
        <th>{% trans 'Location of first 3 errors' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for check in additional_checks %}
        {% if check.check_id == 'missing-values' %}
          <tr>
            <td>{% trans 'The data includes fields that are empty or contain only whitespaces. Fields that are not being used, or that have no value, should be excluded in their entirety (key and value) from the data' %}</td>
            <td>
              <ul class="list-unstyled">
                {% for path in check.paths|slice:":3" %}
                  <li>{{ path }}</li>
                {% endfor %}
                {% if check.paths|length > 3 %}
                  <li><a data-toggle="modal" data-target=".additional-checks-{{check.check_id}}"><sup>{% trans "see all" %}</sup></a></li>
                {% endif %}
              </ul>
            </td>
          </tr>
        {% endif %}

        {% if check.check_id == 'missing-currency' %}
          <tr>
            <td>
              {% blocktrans count counter=check.paths|length %}
              There is a value without a currency.
              {% plural %}
              There are {{ counter }} values without a currency.
              {% endblocktrans %}

              {% trans "Currencies should be published for all values." %}
            <td>
              <ul class="list-unstyled">
                {% for path in check.paths|slice:":3" %}
                  <li>{{ path }}</li>
                {% endfor %}
                {% if check.paths|length > 3 %}
                  <li><a data-toggle="modal" data-target=".additional-checks-{{check.check_id}}"><sup>{% trans "see all" %}</sup></a></li>
                {% endif %}
              </ul>
            </td>
          </tr>
        {% endif %}


        {% if check.check_id == 'invalid-project-ids' %}
          <tr>
            <td>
              {% blocktrans with count=check.paths|length %}
              {{ count }} of your project <code>id</code> fields has a problem: There is no prefix or the prefix is not recognised
              {% endblocktrans %}
            <td>
              <ul class="list-unstyled">
                {% for path in check.paths|slice:":3" %}
                  <li>{{ path }}</li>
                {% endfor %}
                {% if check.paths|length > 3 %}
                  <li><a data-toggle="modal" data-target=".additional-checks-{{check.check_id}}"><sup>{% trans "see all" %}</sup></a></li>
                {% endif %}
              </ul>
            </td>
          </tr>
        {% endif %}


      {% endfor %}
    </tbody>
</table>

{% for check in additional_checks %}
  {% cove_modal_errors className="additional-checks-"|concat:check.check_id modalTitle="" errorList=check.paths file_type=file_type full_table=False %}
{% endfor %}
