{% extends 'input.html' %}

{% block extrafooterscript %}
 <script>
   //If javascript is off all pannels show.
   //We use this to collapse pannels 2 and 3 if javascript is on.
  $("#collapseTwo").attr('class', 'panel-collapse collapse');
  $("#collapseThree").attr('class', 'panel-collapse collapse');

  $('form').submit(function() {
      $('#loading').css({"display": "block"});
      $('#accordion').hide();
  });
  $(window).unload(function() {
    $('#loading').css({"display": "none"});
  })

</script>
{% endblock %}
